html {
    position: relative;
}

body {
    background-color: #F1F1B0;
    margin-bottom: 15vw;
}

.header{
    background-color:#7FA998;
}

@font-face {
    font-family: Dance;
    src: url('fonts/DancingScript-SemiBold.ttf');
}

@font-face {
    font-family: logo;
    src: url('fonts/PermanentMarker-Regular.ttf');
}

@font-face {
    font-family: comicNeue;
    src: url('fonts/ComicNeue-Regular.ttf');
}

.navbar {
    display: flex;
    justify-content: center;
}

.nav_item {
    display: inline-block;
    margin: 1px;
}

.nav-link {
    font-size: 1.5vw;
}


.logo {
    font-family: logo;
    font-weight: 900;
}
.carousel-indicators li {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.carousel-item {
    width: 100%;
}

.carousel-caption>h5 {
    color: #DF8543;
    font-size: 2vw;
}

.section h3 {
    font-size: 3vw;
}

.con {
    overflow: hidden;
}



.progress {
    height: 0.8vw;
    margin-bottom: 0.8vw;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0 , .1);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0 , .1);
}

.success-label {
    position: absolute;
    height: 20px;
    left: 15px;
    padding: 0 5px;
    z-index: 1;
    border-radius: 15px;
    border:1px solid white;
    background-color: #5cb85c;
    color:white;
    text-align: center;
}

.warning-label {
    position: absolute;
    height: 20px;
    left: 15px;
    padding: 0 5px;
    z-index: 1;
    border-radius: 15px;
    border:1px solid white;
    background-color: #f0ad4e;
    color:white;
    text-align: center;
}

.danger-label {
    position: absolute;
    height: 20px;
    left: 15px;
    padding: 0 5px;
    z-index: 1;
    border-radius: 15px;
    border:1px solid white;
    background-color: #d9534f;
    color:white;
    text-align: center;
}

.section {
    margin: 5vw 1vw 1vw 1vw;
    padding: 0.625rem;
}

.form {
    background-color: #DF8543;
    margin:10px 10px;
}

footer {
    background-color:#2c786c;
    font-family: Dance, sans-serif;
    height: 15vw;
    text-align: center;
    position: absolute;    
    bottom:0;
    overflow: hidden; 
}

.rowpanel {
    margin: 1px 0px;
    
}

.prow {
    background-color: #DF8543;
}

.w-pic {
    width:100%;
    height: 21vw;
}



.embed {
    width:100%;
    height: 21vw;
    overflow: scroll;
    background-color:#DF8543;
}

.embed::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 15px;
}

.embed::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5)
}

.embed li {
    padding-bottom: 10px;
    font-size: 1.8vw;
}

.embed li a {
    color:#9D2503;
}

.col-4, .col-8, .container-fluid {
    padding:0 1vw;
}

.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

.bgimg {
    position: relative;
    text-align: center;
    padding:0;  
}

.frtext {
    position: absolute;
    top:30%;
    background-color: white;
    background-color: rgba(0,0,0,.5);
}
.frtext .pageTitle {
    color: #DF8543;
    font-size: 4vw;
}

.pageTitle, .boxTitle {
    text-align: center;
}

.boxTitle {
    font-size: 2.5vw;
}

p, article, label{
    font-size: 2vw;
    line-height: 1.6;
    font-family: comicNeue;
}




input, textarea{
    width: 100%;
}

.projectLink {
    margin-top: 10px;
}

.projectLink>li {
    margin-top: 10px;
    font-size: 2vw;
}

.projectLink a {
    color: #9D2503;
}

.vw3 {
    font-size: 3vw;
}


@media screen and (min-width:768px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        background-color:#F1F1B0;
        margin-top: 2px;
    }
    
    .box{
        border:orange 1px groove;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #DF8543;
    }
    .box article {
        padding: 0 20px;
    }
    
    
    .box1 {
        grid-column:2/6;
        grid-row:1/3;
    }
    
    .box2 {
        grid-column:6/10;
        grid-row:1/4;
    }
    
    .box3 {
        grid-column:2/4;
        grid-row:3/5;
    }
    
    .box4 {
        grid-column:4/6;
        grid-row:3/5;
    }
    
    .box5 {
        grid-column:6/8;
        grid-row:4/6;
    }
    
    .box6 {
        grid-column:8/10;
        grid-row:4/8;
    }
    
    .box7 {
        grid-column:2/6;
        grid-row:5/8;
    }
    
    .box8 {
        grid-column: 6/8;
        grid-row:6/8;
    }
    
}

@media screen and (max-width:768px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color:#F1F1B0;
        margin-top: 2px;
    }
    
    .box{
        border:orange 1px groove;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #DF8543;
    }
    .box article {
        padding: 0 10px;
    }
    
    
    .box1 {
        grid-column:1/3;
        grid-row:1/3;
    }
    
    .box2 {
        grid-column:1/3;
        grid-row:5/8;
    }
    
    .box3 {
        grid-column:1/2;
        grid-row:3/5;
    }
    
    .box4 {
        grid-column:2/3;
        grid-row:3/5;
    }
    
    .box5 {
        grid-column:1/2;
        grid-row:8/10;
    }
    
    .box6 {
        grid-column:2/3;
        grid-row:8/11;
    }
    
    .box7 {
        grid-column:1/3;
        grid-row:11/13;
    }
    
    .box8 {
        grid-column: 1/2;
        grid-row:10/11;
    }
    
}
