body {
    background-color: whitesmoke;
}

.header{
    background-color: tan;
}
.container-fluid {
}

.navbar {
    display: flex;
    justify-content: center;
}

.nav_item {
    display: inline-block;
    margin: 1px;
}

.nav-link {
    font-size: 1.5vw;
}

.carousel-indicators li {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.carousel-item {
    width: 100%;
}

.carousel-caption>h5 {
    color:tan;
}
.con {
    overflow: hidden;
}

.section {
    margin: 50px 10px;
    padding: 10px;
}

.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}


p {
    font-size: 2vw;
}


.form {
    margin:30px 10px;
}

input, textarea{
    width: 100%;
}
